@media screen and (max-width: 640px) {
  .hero {
    box-sizing: border-box;
    padding: 20px 30px;
  }

  .hero h1 {
    font-size: 24px;
  }

  .footer {
    width: auto;
    margin: 0 20px;
    text-align: center;
  }
}
